.menu {
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1b1b1b;
  overflow-x: hidden;
  padding: 15px 0;

  ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    border-bottom: 1px solid #363636;
    padding: 15px 0;
    cursor: pointer;
    &:hover {
      background: #0b0b0b;
    }
    li {
      padding-left: 20px;
      display: flex;
      align-items: center;
      font-weight: bold;
    }
  }

  & a {
    padding: 6px 8px 6px 6px;
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    display: block;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #363636;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #363636;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #21C25E;
    border-radius: 10px;
  }

  &__searchbar {
    margin-left: 20px;
    background: #323232;
    height: 40px;
    border-radius: 15px;
    border: none;
    width: 230px;
    color: white;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 10px;

    &:focus, &:focus, &:focus{
        outline: none;
    }
  }

  &__item {
    margin-left: 10px;
  }
}

@media screen and (max-height: 450px) {
  .menu {
    padding-top: 15px;
    & a {
      font-size: 18px;
    }
  }
}
