body {
    font-family: 'Maven Pro', sans-serif;
    background-color: #151515;
    color: white;
}

a {
    text-decoration: none;
    &:hover, &:focus, &:visited {
        color: #21C25E;
        
    }
}
